<div class="actions">
  <h4>Start a Gift List</h4>
  <%= bootstrap_form_for @list, url: lists_path do |f| %>
  <%= f.text_field :name, label: "Gift List Name:" %>
  <button class="btn btn-primary btn-sm">Submit</button>
  <% end %>
</div>
