<div class="actions" >
  <h4>Add Gift</h4>
  <%= bootstrap_form_for @gift, url: list_gifts_path(@list) do |f| %>
    <%= f.text_field :name, hide_label: true, placeholder: "Item" %>
    <%= f.select :requester,  @users, label: 'For' %>
    <button class="btn btn-primary btn-sm">Add</button>
  <% end %>
</div>
<div class="text-center" >
  <%= link_to 'My Wishlist', list_gifts_path(@list), class:'btn btn-wishlist' %>
</div>
