<div class="actions">
  <h3>Start a Gift List</h3>
  <%= bootstrap_form_for @list, url: lists_path do |f| %>
  <%= f.text_field :name, hide_label: true, placeholder: "Gift List Name:" %>
  <button class="btn btn-primary btn-sm">Start New List</button>
  <% end %>
</div>
