<div id='list' class='jumbotron'>
    <h2 id='list-name'>My Gifts</h2>
  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr>
        <tr text-align=center>
          <th>Requested</th>
        </tr>
      </thead>

      <tbody>
            <tr>
        <% @requested_gifts.each do |gift| %>
              <td><%= gift.name  %></td>
          <% end %>
            </tr>
      </tbody>
    </table>

    <table class="table table-hover table-striped table-condensed">
      <thead>
        <tr>
          <tr text-align=center>
            <th>Claimed</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
              <tr>
          <% @claimed_gifts.each do |rgift| %>
                <td><%= rgift.name.capitalize  %></td>
                <td>for</td>
                <td><%= rgift.requester.username.capitalize  %></td>
            <% end %>
              </tr>
        </tbody>
      </table>

  </div>
</div>
