/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require rails_bootstrap_forms

*/

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: url('/assets/presents.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}

#site-name {
    color: white;
}

.subtext {
    color: #666666;
}
.pico-signin {
    max-width: 450px;
    float: right;
    margin-right: 17%;
}

.signin {
    /*background-color: red;*/
}

.panel {
    background-color: white;
    vertical-align: middle;
    margin: 100px;
    padding: 20px;
}


.border-form-div {
    vertical-align: middle;
    display: inline-block;
    max-width: 300px;
    padding: 19px 29px 29px;
    margin-left: 20%;
    background-color: #fff;
    border: 1px solid blue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
    margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.subtext {
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: 	white; /*BACKGROUND color for active*/
background-color: #030033;
}

  .navbar-default {
    background-color: #800000;
    border-color: #030033;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: blue; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: #D3D3D3; /*Change active text color here*/
    }

.navbar-brand{
    color: white;
}
